.container-card {
    display: inline-flex;
    padding: 5px;
}

.content-card {
    margin: auto;
    background-color: #383838;
    padding: 5px 5px 20px 5px;
    border-radius: 10px;
}

img {
    margin: auto;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.detals {
    background-color: #141414;
    text-align: center;
    border-radius: 10px;
    margin: 0px 20px;
}